
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto' ,sans-serif;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 20px;
    margin: 0;
    padding:10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    width: 291px;
}
@media (max-width: 480px) {
  .container {
    padding: 15px;
  }
  

  .input {
    height: 50px;
    font-size: 1.2rem;
  }

  .button {
    padding: 12px;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.4rem;
  }
}

